* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .intro {
    height: 100vh;
  }
  
  .intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
  }

  .mini-map {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 30%;
    z-index: 1;
  }

  .mini-map img {
    width: 100%;
    height: 100%;
  }
  

  .message-box {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    padding: 15px;
  }
  
  
  section {
    height: 100vh;
    color: black;
  }
  
  section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
  }