/* ------------------------- Global Styles -------------------------------------*/

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  overflow-x: hidden;
  color: white;
}

/* Center align the content in the App container */
.App {
  text-align: center;
}

/* Logo styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Header styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link styles */
.App-link {
  color: #61dafb;
}

/* ------------------------- Lottie Container -------------------------------------*/

/* Container for Lottie animation */
.lottie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 20%;
  padding-bottom: 10%;
}

.lottie-container > div {
  width: 30%;
  height: 30%;
}

.lottie-container p {
  color: white;
  font-size: 3rem;
}

/* ------------------------- Intro Section -------------------------------------*/

.intro-section {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 80%;
}

.intro-section p {
  /* Add your styles here */
  color: white;
  font-size: 2rem;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}

/* ------------------------- Mini Map -------------------------------------*/

/* Container for mini map */
.mini-map {
  position: absolute;
  bottom: 12vh;
  right: 0;
  width: 20%;
  height: 30%;
  z-index: 1;
  opacity: 80%;
}

.mini-map img {
  width: 100%;
  height: 100%;
}

.location-marker {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

/* ------------------------- Message Box -------------------------------------*/

/* Container for message box */
.message-box {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  padding: 15px;
}

/* ------------------------- Button -------------------------------------*/
.scroll-to-top-button {
  width: 140px;
  height: 45px;
  font-size: 14px;
  width: 200px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.scroll-to-top-button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* --------------------------------- Panolens Components ------------------------------- */
.viewer-container {
  background: #074357;
  height: 100vh;
  margin: 0;
  position: relative;
}

.image-container {
  /* Change the dimensions here if you want the panorama to be larger/smaller */
  height: 100vh;
  position: relative;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

canvas {
  width: 100%;
}

/* --------------------------------- Text Box animation ------------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
